@import "../../styles/variables";

.ads{
    width: 285px;
    margin-bottom: 32px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: unset;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
    &:hover {
        transform: scale(1);
        box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.5);
    }
    img {
        width: 100%;
        height: 100%;
    }
    .text{
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            color: white;
            font-size: $font-size-lg;
        }
    }
}