@import "variables";

html, body {
  background: $background-color;
  font-family: $font-family-sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  font-size: $font-size-base;
  color: $primary-font-color;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-container{
  padding: $space-base;
  .title-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}