//== Colors

$background-color:      #fff !default;
$cr-green:              #78ab41 !default;
$cr-blue:               #1ca69a !default;
$cr-dark-blue:          #4e596a !default;
$cr-orange:             #f59221 !default;
$cr-red:                #cb214c !default;
$cr-red-2:              #eb141a !default;
$loading-color:         white;
$primary-font-color:    #676767;

//== Spaces

$space-xs:              4px !default;
$space-sm:              8px !default;
$space-base:            16px !default;
$space-md:              24px !default;
$space-lg:              32px !default;

//== Fonts

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-base:          14px;
$font-size-lg:            17px;