@import "../../styles/variables";

.card {
  width: 300px;
  margin-bottom: 32px;
  background: $cr-dark-blue;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: $cr-dark-blue solid 1px;
  box-shadow: unset;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.5);
  }
  .container {
    width: 100%;
    .face {
      text-align: center;
      line-height: 100px;
      height: 100px;
      background: white;
    }
    .bottom {
      width: 100%;
      position: relative;
      float: left;
      color: white;
      h1, p {
        margin: 0;
        padding: 0;
      }
      .details {
        padding: 20px;
        float: left;
      }
    }
  }
}